# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
# Grunt
/node_modules/
/deploy/
/build/
# Docs
/docs/
# Sass
assets/css/.sass-cache/
.sass-cache/
.vs/
/../*.config
# OS X metadata
.DS_Store
# Windows junk
Thumbs.db
# Theme specific
test.php
# map files
*.map
/../*.map
.vscode
*.sh.exe.stackdump
*.exe.stackdump
*.stackdump
*.exe
.sass-cache/*
*.scssc

app/build/